@page
@model number_system_calculator_KDA.Pages.DishModel
@{
}

<h2>@ViewData["Title"]</h2>

<form method="post">

    <input type="hidden" asp-for="Dish.Id" />

    <div class="form-group">
        <label asp-for="Dish.Title">Название</label>
        <input asp-for="Dish.Title" type="text" class="form-control" />
        <span asp-validation-for="Dish.Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Dish.Structure">Состав</label>
        <input asp-for="Dish.Structure" type="text" class="form-control" />
        <span asp-validation-for="Dish.Structure" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Dish.Gram">Грамм</label>
        <input asp-for="Dish.Gram" type="number" class="form-control" />
        <span asp-validation-for="Dish.Gram" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Dish.Price">Цена</label>
        <input asp-for="Dish.Price" type="number" class="form-control" />
        <span asp-validation-for="Dish.Price" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>