@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в Food-Delivery-GourmentGo </h1>
    <p>Здесь вы можете заказать еду на любой вкус, не выходя из дома.</p>
    <p>Изучите <a href="/UserDishs">Меню</a>
</div>
