@page
@model number_system_calculator_KDA.Pages.ProfileModel
@{
}
<!DOCTYPE html>
<html lang="form-group">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <!-- подключаем бутстрап -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <!-- вся страница будет в одном контейнере -->
    <div class="container">
        <div class="row">
            <!-- делаем самую простую вёрстку -->
            <div class="col-md-12">
                <h2>Регистрация</h2>
                <p>Заполните все поля, чтобы создать новый аккаунт.</p>

            </div>
        </div>
    </div>
</body>
</html>

<form action="" method="post">

    
    <div class="form-group">
        <label>Имя</label>
        <input type="text" FirstName="FirstName" class="form-control" required>
    </div>

    <div class="form-group">
        <label>Фамилия</label>
        <input type="text" LastName="LastName" class="form-control" required>
    </div>

   
    <div class="form-group">
        <label>Электронная почта</label>
        <input type="email" name="email" class="form-control" required />
    </div>

    <div class="form-group">
        <label>Номер телефона</label>
        <input type="text" PhoneNamber="PhoneNamber" class="form-control" required>
    </div>

    <div class="form-group">
        <label>Дата рождения</label>
        <input type="text" DateOfBirth="DateOfBirth" class="form-control" required>
    </div>

    
    <div class="form-group">
        <label>Пароль</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    
    <div class="form-group">
        <label>Повторите пароль</label>
        <input type="password" name="confirm_password" class="form-control" required>
    </div>
    
    <div class="form-group">
        <input type="submit" name="submit" class="btn btn-primary" value="Зарегистрироваться">
    </div>
    
    <p>Уже зарегистрированы? <a href="login">Войдите в систему</a>.</p>
</form>
